{% extends 'base.html' %}

{% block content %}
<h1>{% if editar %}Editar nota{% else %}Crear nota{% endif %}</h1>
<form method="post" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        <label for="titulo" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="titulo"
         name="titulo" value="{{ titulo|default:'' }}" required>
    </div>
    <div class="mb-3">
        <label for="contenido" class="form-label">Contenido</label>
        <textarea class="form-control" id="contenido"
         name="contenido" rows="3" required>{{ contenido|default:'' }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">{% if editar %}Guardar{% else %}Crear{% endif %}</button>
</form>
{% endblock %}