{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
        <button type="button" class="btn-close" onClick="this.parentElement.remove()" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
<a href="{% url 'cuentas:perfil' %}" class="btn btn-secondary">Perfil</a>
<h1>Notas</h1>
<a href="{% url 'notas:crear_nota' %}" class="btn btn-primary">Crear nota</a>
<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Contenido</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for nota in notas %}
        {% include 'notas/row.html' %}
        {% empty %}
        <tr>
            <td colspan="3">No hay notas</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form method="get" action="{% url 'notas:buscar_nota_por_titulo' %}">
    <input type="text" name="titulo" placeholder="Buscar nota">
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
{% endblock %}